.not-found-container {
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: beige;
    animation: fade-in-out 0.2s ease-in-out;
}

.not-found-content {
    height: 90vh;
    width: 100vw;
}

.not-found-content h2 {
    margin: 0;
    padding: 0;
}

.not-found-image {
    margin-top: 13vh;
    height: 400px;
}

.home-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #0056b3;
}