/* Header Styles */
.header-container {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.dark {
    background-color: #222;
    color: #fff;
}

.light {
    background-color: #f8d7da;
    color: #2B046B;
}
.user-name{
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    color: #5d6cb6;
    text-shadow: #b1a7a7 0 0 5px;
    font-weight: normal;
    animation: popup 0.5s ease-in-out;
}
@keyframes popup {
    0%{font-size: 20px;}
    75%{font-size: 30px;}
    100%{font-size: 25px;}
}
.user-name-dark{
    color: #c400ff;
    text-shadow: #cb3a3a 0 0 5px;
}
.app-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    transition: all 0.2s ease;
    margin-top: 0;
}

.app-name:hover {
    text-shadow: 0 0 5px #eeff00ec;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.header-buttons {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

/* Theme Toggle Switch */
@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.mode-button-container {
    height: 30px;
    width: 60px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.488);
}

.mode-button-light-container {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.355);
}

.mode-button-dark-container {
    background-color: #222;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.584);
}

.mode-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out, background 0.3s ease-in-out;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #f39c12;
}

/* Move slider to the right in dark mode */
.mode-button-dark-container .mode-slider {
    transform: translateX(28px);
    background-color: yellow;
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
    color: #222;
}

/* Rotating Animation */
.rotate {
    animation: rotateIcon 0.5s ease-in-out;
}

.score-log-button {
    background-color: transparent;
    padding: 7px 14px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
    border: 1px solid;
}

/* Light Mode */
.score-log-light-button {
    color: #2c3e50;
    border-color: #2c3e50;
}

.score-log-light-button:hover {
    background-color: #2c3e50;
    color: #ffffff;
}

/* Dark Mode */
.score-log-dark-button {
    color: #f1c40f;
    border-color: #f1c40f;
}

.score-log-dark-button:hover {
    background-color: #f1c40f;
    color: #000000;
}

@media (max-width: 570px) {
    .score-log-button {
        padding: 5px 10px;
    }
    .user-name{
        margin: 0;
        margin-top: 8vh;
    }
}